name: docker-images

on:
  push:
    branches:
      - main
    tags:
      - v[0-9]+.[0-9]+.[0-9]+
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  run-tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      DOCKER_BUILDKIT: 1
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          # needed so we can properly determine versioning for building images/etc...
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
        with:
          go-version-file: "go.mod"
          check-latest: true
        # Required so that we fetch tags as well (https://github.com/actions/checkout/issues/448)
      - name: Fetch tags
        run: |
          git fetch --tags
          git tag -l -n1
      - name: Run tests
        run: make test
